.academy-logo {
  font-size: 16px;
  line-height: 1;
  color: $tundora;
  width: 100%;

  @include gutters(25px);

  @media (min-width: $tablet-width) {
    width: 25%;

    @include gutters(30px);
  }

  @media (min-width: $desktop-width) {
    width: 25%;

    @include gutters(40px);
  }
}
