.academy-logo {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 16px;
  line-height: 1;
  color: $tundora;

  @media (min-width: $tablet-width) {
    width: 25%;
    margin-top: 0;
    justify-content: flex-end;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-right: 40px;
  }
}

.academy-logo__text {
  @include mouse-effects-opacity(1, 0.3);

  color: $tundora;
  text-decoration: none;
}

.academy-logo__picture {
  margin-left: 8px;
  position: relative;
  right: -7px;

  svg {
    fill: $gray--diabolic;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: $green;
    }
  }
}
