.bonus {
  width: 280px;
  min-height: 289px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin: 40px auto 35px auto;
  padding: 65px 50px 43px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0 / contain $green--lighten;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: url("../img/icon-gift.svg");
    display: block;
    position: relative;
    width: 55px;
    height: 60px;
    color: white;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 200px;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 73px;
    padding: 0 125px 0 90px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 50% 0 / contain $green--lighten;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    flex-direction: column;
    margin: 0;
    padding: 65px 43px 43px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 50% 0 / contain $green--lighten;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    color: $white;
    text-align: center;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 162px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 162px;
      text-align: center;
    }
  }
}
