.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $green;
  cursor: pointer;

  &--smaller {
    font-size: 14px;
    line-height: 1.33;
  }

  &:hover {
    background-color: $green--darken;
  }

  &:active {
    background-color: $green--darken;
    color: $whiteOp;
  }

  &--gray {
    background-color: $concrete;
    color: $tundora;

    &:hover {
      background-color: $concrete--darken;
    }

    &:active {
      background-color: $concrete--darken;
      color: $tundoraOp;
    }
  }
}
