.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $green;
  cursor: pointer;

  &--smaller {
    position: absolute;
    bottom: -343px;
    font-size: 14px;
    line-height: 1.2;
    left: 20px;
    width: $mobile-column-width - $gutter;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1;
      position: relative;
      width: 245px;
      left: 120px;
      bottom: 0;
      margin-top: 45px;
      padding-top: 17px;
      padding-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-column-width - $gutter;
    }
  }

  &:hover {
    background-color: $green--darken;
  }

  &:active {
    background-color: $green--darken;
    color: $whiteOp;
  }

  &--gray {
    background-color: $concrete;
    color: $tundora;

    &:hover {
      background-color: $concrete--darken;
    }

    &:active {
      background-color: $concrete--darken;
      color: $tundoraOp;
    }
  }
}
