.catalog {
  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.catalog__products-list {
  @include clear-ul;

  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 142px;
  }
}
