.catalog {
  @include wrapper;
  margin-bottom: 42px;

  @media (max-width: $max-mobile-width) {
    h1 {
      @include gutters(20px);
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    margin-bottom: 90px;

    @include gutters(30px);
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    margin-bottom: 100px;
    padding-top: 20px;

    @include gutters(40px);
  }
}

.catalog__products-list {
  @include clear-ul;

  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 165px;
  }
}
