.control-group {
  &__item {
    display: flex;
    align-items: flex-start;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    width: 100%;

    &--short {
      @media (min-width: $tablet-width) {
        width: 50%;
        padding-right: 30px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.checkbox {
  &__input {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid $grey--darken;
      margin-right: 15px;
      cursor: pointer;

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        border: 1px solid $grey--darken;
        margin-right: 20px;
      }
    }
  }

  &__input:checked ~ &__label::after {
    content: url("../../img/icon-tick.svg");
    width: 21px;
    height: 16px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      left: 10px;
      top: 9px;
    }
  }
}

.radio {
  &__input {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid $grey--darken;
      border-radius: 50%;
      margin-right: 15px;
      cursor: pointer;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
  }

  &__input:checked ~ &__label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $green;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      left: 11px;
      top: 11px;
      width: 18px;
      height: 18px;
    }
  }
}
