.courses {
  @include wrapper;
  margin-bottom: 18px;

  @include gutters(20px);

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    @include gutters(30px);
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    margin-bottom: 70px;

    @include gutters(40px);
  }
}

.courses__list {
  @include make-row;
  @include clear-ul;
}
