.courses {
  @include wrapper;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.courses__list {
  @include make-row;
  @include clear-ul;
}
