.course {
  padding: 22px;
  background-color: $concrete;
  list-style-type: none;
  //это типа заглушка, если нет иконки, графики как бы ещё нет в этом задании.
  &:before {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50px;
  }
  p {
    padding: 23px 0;
    border-bottom: 1px solid $grey--darken;
  }
}

.course__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 400;
  line-height: 1.54;
  color: $black;
  text-transform: uppercase;
}
.course__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
