.course {
  list-style: none;
  width: 100%;

  @include gutters(6.25%);

  @media (min-width: $tablet-width) {
    @include gutters(3.9%);
  }

  @media (min-width: $desktop-width) {
    width: 50%;

    @include gutters(3%);
  }

  p {
    padding: 9px 0 5px 0;

    @media (max-width: $max-mobile-width) {
      &::after {
        content: "";
        display: block;
        width: 240px;
        height: 1px;
        margin-top: 22px;
        border-top: 1px solid $grey--darken;
      }
    }

    @media (min-width: $tablet-width) {
      width: 59%;
      order: 2;
    }

    @media (min-width: $desktop-width) {
      width: 99%;
      order: 3;
      padding: 30px 0 15px 0;
    }
  }

  &--slim-cat .course__container {
    &::before {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      background-image: url("../../img/icon-cat-slim.svg");

      @media (min-width: $tablet-width) {
        width: 200px;
        height: 194px;
        margin-right: 0;
        margin-top: -33px;
        background-size: 140px 194px;
        margin-bottom: 16px;
      }

      @media (min-width: $desktop-width) {
        width: 100px;
        height: 100px;
        margin-top: 0;
        margin-right: 64px;
        margin-bottom: 0;
        background-size: 70px 97px;
      }
    }
  }

  &--power-cat .course__container {
    &::before {
      width: 65px;
      height: 50px;
      left: -8px;
      margin-right: 5px;
      background-position-y: 14px;
      background-image: url("../../img/icon-cat-pro.svg");

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 194px;
        left: 0;
        margin-right: 0;
        margin-top: -33px;
        background-size: 268px 112px;
        margin-bottom: 16px;
        background-position-y: 50px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 100px;
        margin-top: 0;
        margin-right: 28px;
        margin-bottom: 0;
        left: -17px;
        background-size: 134px 56px;
        background-position-y: 29px;
      }
    }

    @media (min-width: $tablet-width) {
      p {
        width: 54%;
      }
    }

    @media (min-width: $desktop-width) {
      p {
        width: 99%;
      }
    }
  }

  @include column-bottom-margins;
}

.course__container {
  padding: 22px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  background-color: $concrete;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    z-index: 0;
    background-color: $green;
    border-radius: 50px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      top: 96px;
      left: 63%;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      border-radius: 200px;
      top: 47px;
      left: 52px;
    }
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    z-index: 1;
    background-position: 50% 0;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 3%;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      order: 1;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-left: 52px;
    padding-bottom: 60px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.course__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.54;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 59%;
    font-size: 36px;
    line-height: 1.03;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 59%;
    align-self: center;
    order: 2;
  }
}

.course__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 59%;
    font-size: 20px;
    order: 4;
  }
}
