.custom-course {
  h1 {
    @include gutters(20px);

    @media (min-width: $tablet-width) {
      margin-top: 34px;

      @include gutters(30px);
    }

    @media (min-width: $tablet-width) {
      width: 90%;

      @include wrapper;
      @include gutters(40px);
    }
  }
}

.custom-course__form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 1;
  }

  button {
    width: calc(100% - 40px);
    align-self: center;
    margin-top: 35px;

    @media (min-width: $tablet-width) {
      width: 42%;
      margin-top: 26px;
      margin-right: 8%;
      font-size: 20px;
      line-height: 1;
      padding: 17px 26px 15px 26px;
      align-self: flex-start;
    }
  }

  small {
    align-self: center;
    margin-top: 23px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
    text-transform: none;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 1;
    }
  }

  input::placeholder {
    color: $tundora;
  }

  textarea {
    border-color: $mercury;

    &::placeholder {
      color: $tundora;
    }

    &:hover {
      border-color: $tundora;
    }

    &:focus {
      outline: none;
      border-color: $tundora;
    }
  }

  input {
    &:hover {
      border-color: $tundora;
    }

    &:focus {
      outline: none;
      border-color: $tundora;
    }
  }
}

.custom-course__form-info {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  margin: 12px 0 38px;

  @include gutters(20px);

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: 67px;
    font-size: 20px;
    line-height: 1.5;

    @include gutters(70px);
  }

  @media (min-width: $desktop-width) {
    width: 90%;

    @include gutters(40px);
    @include wrapper;
  }
}

.custom-course__field {
  width: 100%;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  label {
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }

  input {
    flex-grow: 1;
    text-transform: uppercase;
    padding: 14px 16px 12px;
    background: transparent;
    border: 1px solid $mercury;
  }
}

.custom-course__personal {
  margin: 0;
  border: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;

    @include gutters(70px);
  }

  @media (min-width: $desktop-width) {
    width: calc(90% / 2 - 80px);
    margin-bottom: 72px;
    margin-left: calc(5% + 40px);
    margin-right: 80px;

    @include gutters(0);
  }
}

.custom-course__effect {
  margin: 24px 0;
  padding: 20px;
  border: 1px solid $mercury-border;

  @media (min-width: $tablet-width) {
    width: calc(100% - 140px);
    margin: 73px auto;
    padding: 25px 30px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    width: calc(90% / 2 - 80px);
    margin: 0;
    align-self: flex-start;
  }
}

.custom-course__fieldset {
  position: relative;
  padding: 0 20px;
  margin: 0 0 27px;
  border-top: 3px solid $green;
  border-bottom: 0;
  border-left: none;
  border-right: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 0 65px;

    @include gutters(70px);
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    @include gutters(calc(5% + 40px));

    &__field {
      width: calc(90% / 2 - 80px);
      margin-right: 80px;

      &:nth-child(even) {
        margin-left: calc(5% + 40px);
      }
    }
  }

  legend {
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    position: relative;
    margin-bottom: 35px;
    padding-left: 20px;
    top: -3px;
    left: -21px;
    background: $white;
    box-sizing: content-box;

    @media (min-width: $tablet-width) {
      left: -40px;
      margin-bottom: 78px;
      padding-left: 40px;
      font-size: 36px;
      line-height: 1;

      br {
        display: none;
      }
    }
  }

  h3 {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    font-weight: normal;
    position: relative;
    padding: 0 20px;
    margin: -17px 0 0;
    left: -20px;
    background: $white;
  }

  textarea {
    width: 100%;
    padding: 13px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      width: 100%;
      align-self: center;
      padding: 13px 18px;
      height: 175px;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      align-self: center;
      padding: 13px 18px;
      height: 175px;
    }
  }
}

.custom-course__up-sell,
.custom-course__contacts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 27px;
  border-top: 3px solid $green;

  @include gutters(20px);

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 40px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    @include gutters(calc(5% + 40px));
    margin-top: 40px;
    margin-bottom: 65px;
  }
}

.custom-course__fake-legend {
  width: 100%;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  position: relative;
  margin-top: -19px;
  margin-bottom: 35px;
  left: -21px;
  box-sizing: content-box;

  span {
    display: inline-block;
    padding-left: 20px;
    padding-right: 24px;
    background: $white;
  }

  @media (min-width: $tablet-width) {
    left: -40px;
    margin-bottom: 55px;
    font-size: 36px;
    line-height: 1;

    span {
      padding-left: 37px;
      padding-right: 44px;

      br {
        display: none;
      }
    }
  }
}
