.data-highlight {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 60%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: flex-start;
  }
}

.data-highlight__data {
  width: 124px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 164px;

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }
}

.data-highlight__subject {
  position: relative;
  left: 0;
  top: -0.5em;
  align-self: center;
  padding: 0 15px;
  background-color: $concrete;
  font-size: 12px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  order: 2;

  @media (min-width: $tablet-width) {
    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
    background-color: $white;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $concrete;
  }
}

.data-highlight__value {
  width: 124px;
  padding: 15px;
  border: 1px solid $gray--border;
  border-radius: 3px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  word-wrap: break-word;
  font-family: "Oswald", "Arial", sans-serif;
  order: 1;

  @media (min-width: $tablet-width) {
    width: 164px;
    padding: 17px;
    font-size: 30px;
    line-height: 1.23;
  }
}
