.features-list {
  display: flex;
  flex-wrap: wrap;

  @include clear-ul;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  counter-reset: featuresCounter;
}

.features-list__item {
  display: flex;
  position: relative;
  min-height: 60px;

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
    background-color: $green;
    background-position: 50% 50%;
    background-size: 50px 50px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }


  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--meal {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--alarmclock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  p {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 228px;
    flex-direction: column;
    margin-top: 89px;
    width: calc((100% - 60px) / 2);

    &:nth-child(-n+2) {
      margin-top: 0;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }

    p {
      width: 76%;
    }

    &::after {
      counter-increment: featuresCounter;
      content: counter(featuresCounter);
      position: absolute;
      z-index: 0;
      top: -18%;
      left: 35.5%;
      color: $concrete;
      font-size: 282px;
      line-height: 1;
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: normal;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc((100% - 240px) / 4);

    &:nth-child(odd) {
      margin-right: 80px;
    }

    margin: 0 80px 0 0;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      &:nth-child(odd) {
        margin-right: 79px;
      }

      margin: 0 79px 0 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      left: 46%;
    }

    p {
      width: 100%;
    }
  }
}
