.footer-logo {
  background: url("../../img/logo-footer.svg") no-repeat 50% 0 transparent;
  background-origin: content-box;
  width: 128px;
  height: 24px;

  @include mouse-effects-opacity(0.8,0.6);
  @include column(1,1,1);
}
