.footer-logo {
  background: url("../img/logo-footer.svg") no-repeat 50% 0 transparent;
  background-origin: content-box;
  height: 24px;
  width: 128px;


  @media (min-width: $tablet-width) {
    margin-left: 30px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
    margin-right: calc(25% - 168px);
  }

  @include mouse-effects-opacity(0.8,0.6);
}
