.how-it-works {
  @include wrapper;
  @include gutters(20px);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    margin-bottom: 0;
    border-bottom: 1px solid mercury;

    @include gutters(30px);
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    margin-bottom: 85px;

    @include gutters(40px);
  }
}
