.logo {
  background: url("../../img/logo-mobile.svg") no-repeat;
  width: 191px;
  height: 38px;
  margin-top: 12px;
  margin-bottom: 16px;
  display: block;
  cursor: pointer;

  @include mouse-effects-opacity(0.8,0.6);

  @media (min-width: $tablet-width) {
    background-image: url("../../img/logo-tablet.svg");
    width: 173px;
    height: 58px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/logo-desktop.svg");
    width: 202px;
    height: 60px;
  }
}
