.main-menu {
  list-style-type: none;
}

.main-menu__item {
  padding: 24px 0;
  text-align: center;
  border-top: 1px $mercury;
  background-color: $white;
}

.main-menu__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  &[href] {
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &:visited {
    color: $black;
  }
}
