.main-menu {
  ul {
    @include clear-ul;
    display: none;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 20px;
    }
  }

  &--no-js {
    ul {
      display: flex;
    }
  }

  &--show {
    ul {
      display: flex;
    }
  }
}

.main-menu__item {
  padding: 21px 6.25%;
  text-align: center;
  border-top: 1px solid $mercury;
  background-color: $white;

  &:last-child {
    border-bottom: 1px solid $mercury;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.main-menu__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  &[href] {
    @include mouse-effects-opacity(0.6,0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 2px solid $green;
    padding: 9px 0;
    display: block;

    &[href] {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.25;

    &--whitening {
      font-size: 20px;
      line-height: 1.43;
      color: $white;
      border-bottom: 2px solid $white;
      padding: 8px 0;
    }
  }
}

.main-menu__sandwich {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 23px;
  right: 20px;
  background: url("../../img/icon-mobile-menu.svg") no-repeat;
  cursor: pointer;
  border: none;

  &--close {
    background: url("../../img/icon-close.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--no-js {
    display: none;
  }
}
