.main-menu {
  @include clear-ul;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 95px;
  }
}

.main-menu__item {
  padding: 21px 0;
  text-align: center;
  border-top: 1px solid $mercury;
  background-color: $white;

  &:last-child {
    border-bottom: 1px solid $mercury;
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: transparent;
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.main-menu__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  &[href] {
    @include mouse-effects-opacity(0.6,0.3);
  }

  &:visited {
    color: $black;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 2px solid $green;
    padding: 9px 0;
    display: block;

    &[href] {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.25;
    color: $white;
    border-bottom: 2px solid $white;
    padding: 8px 0;

    &:visited {
      color: $white;
    }

    &--black-green {
      font-size: 20px;
      line-height: 1.43;
      color: $black;
      border-bottom: 2px solid $green;

      &:visited {
        color: $black;
      }
    }
  }
}

.main-menu__sandwich {
  position: absolute;
  top: 23px;
  right: 23px;

  input[type="checkbox"]:checked + .main-menu__sandwich-icon {
    background: url("../../img/icon-close.svg") no-repeat;
  }

  input[type="checkbox"]:checked ~ .main-menu__item {
    @include visually-hidden;
  }

  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}

.main-menu__sandwich-icon {
  background: url("../../img/icon-mobile-menu.svg") no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
}
