.page-footer {
  background-color: $concrete;
  padding: 20px 0;
}

.page-footer__container {
  @include wrapper;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
