.page-footer {
  background-color: $concrete;
  margin-top: auto;
  position: relative;
}

.page-footer__container {
  @include wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 34px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 45px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    min-width: 1300px;
  }
}

.page-footer__contacts {
  width: 100%;
  padding: 29px 20px 26px;
  display: flex;
  justify-content: space-between;

  &--white {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 66px 71px 53px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    top: 93px;
    left: 40px;
    padding: 66px 95px 53px 75px;
    background-color: $white;
  }

  @media (min-width: 1440px) {
    left: calc(5% + 40px);
  }

  h3 {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      text-align: right;
      line-height: 2.3;

      &::first-line {
        line-height: 0.7;
      }
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }
}

.page-footer__map {
  width: 100%;
  border: 0;
  height: 360px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
