.page-footer {
  background-color: $concrete;
  margin-top: auto;
  position: relative;
}

.page-footer__container {
  @include wrapper;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
  }
}

.page-footer__contacts {
  width: 100%;
  padding: 29px 20px 26px;
  display: flex;
  justify-content: space-between;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 66px 71px 53px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    top: 93px;
    left: 110px;
    padding: 66px 95px 53px 75px;
  }

  h3 {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.25px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      text-align: right;
      line-height: 2.3;

      &::first-line {
        line-height: 0.7;
      }
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }
}
