.product {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $mercury-border;
  border-right: 1px solid $mercury-border;
  border-left: 1px solid $mercury-border;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  &:last-child {
    border-bottom: 1px solid $mercury-border;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }

  @include column(1,2,1);
}

.product__container {
  @media (min-width: $tablet-width) {
    background-color: $concrete;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &:visited {
    color: $black;
  }
}

.product__parameter {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: $tundora;
}
