.promo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat 50% 0 $green--lighten;
  min-height: 305px;
  margin-bottom: 196px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    background: none;
    border-bottom: none;
    margin-bottom: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -188px;
    min-height: 696px;
    margin-bottom: 80px;
    background:
      url("../../img/index-background-desktop@1x.jpg") no-repeat 100% 0,
      linear-gradient(to right, $white 0, $white 50%, $green--lighten 50%, $green--lighten 100%);
  }
}

.promo__text {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -175px;

  @include wrapper;

  @media (min-width: $tablet-width) {
    picture {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 187px;
    margin-bottom: 0;
  }
}

.promo__action {
  min-height: 271px;
}

.promo__header {
  margin: 26px 0;
  position: relative;
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    text-align: left;
    color: $black;
    margin-left: 90px;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }

  @include column(1,3,2);
}

.promo__sub-header {
  display: block;
  position: relative;
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: left;
    color: $black;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }

  @include column(1,3,2);
}

.promo__link {
  color: $white;

  &:visited {
    color: $white;
  }
}

.promo__image {
  margin: 28px auto 2px auto;
  width: 280px;
  height: 271;
  display: block;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin: -80px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    left: 490px;
    top: 142px;
    margin: 0;
  }
}
