.promo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat 50% 0 / contain $green--lighten;
  min-height: 305px;
  margin-bottom: 196px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    background: none;
    border-bottom: none;
    margin-bottom: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -155px;
    min-height: 696px;
    margin-bottom: 84px;
    background:
      url("../../img/index-background-desktop@1x.jpg") no-repeat 100% 0 / contain,
      linear-gradient(to right, $white 0, $white 50%, $green--lighten 50%, $green--lighten 100%);

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }
}

.promo__text {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -175px;

  @media (max-width: $max-mobile-width) {
    @include gutters(20px);
  }


  @include wrapper;

  @media (min-width: $tablet-width) {
    picture {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 187px;
    margin-bottom: 0;
  }
}

.promo__action {
  min-height: 271px;
}

.promo__header {
  min-height: 72px;
  margin: 26px 0;
  position: relative;
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $white;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 77%;

    @include gutters(30px);
    font-size: 60px;
    text-align: left;
    color: $black;
    margin: 35px auto 40px auto;
  }

  @media (min-width: $desktop-width) {
    width: 45%;

    @include gutters(40px);
    margin-left: 10.3%;
  }
}

.promo__sub-header {
  display: block;
  position: relative;
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  width: 100%;

  @include gutters(20px);

  @media (min-width: $tablet-width) {
    width: 77%;

    @include gutters(30px);
    font-size: 20px;
    text-align: left;
    color: $black;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 45%;

    @include gutters(40px);
    margin-left: 10.3%;
  }
}

.promo__link {
  color: $white;

  &:visited {
    color: $white;
  }
}

.promo__image {
  margin: 28px auto 2px auto;
  width: 280px;
  height: 271;
  display: block;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin: -80px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    left: 38.8%;
    top: 142px;
    margin: 0;
  }
}
