.show-more {
  border: 1px solid #ededed;
  padding: 25px 20px;
  p {
    font-family: Oswald-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    text-transform: uppercase;
  }
}

.show-more__subtext {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444;
}



