.show-more {
  border: 1px solid $mercury-border;
  padding: 25px 20px;
  width: 100%;

  @include gutters(6.25%);

  p {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: $black;
    text-transform: uppercase;
  }

  &::before {
    content: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 26px;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    @include gutters(3.9%);
    border: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;

    @include gutters(3%);
  }
}

.show-more__subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  color: $tundora;
}
