.show-more {
  border: 1px solid $mercury-border;
  padding: 25px 20px;

  @include clear-li;

  p {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: $black;
    text-transform: uppercase;
  }

  &::before {
    content: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 26px;
    opacity: 0.2;
  }
}

.show-more__subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  color: $tundora;
}
