.social-links {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $grey--darken;
  border-bottom: 1px solid $grey--darken;
  width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    width: 50%;

    @include gutters(30px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 50%;

    @include gutters(40px);
  }
}
