.social-links {
  @include clear-ul;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 83px 17px 74px;
  margin-top: 30px;
  border-top: 1px solid $gray--darken;
  border-bottom: 1px solid $gray--darken;

  li {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  @media (max-width: $max-mobile-width) {
    width: calc(100% - 40px);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 106px 0 154px;
    flex-grow: 1;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 20px;
  }
}

.social-links__icon {
  display: inline-block;

  svg {
    fill: $gray--diabolic;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: $green;
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      svg {
        width: 30px;
        height: 16px;
      }
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      svg {
        width: 14px;
        height: 28px;
      }
    }
  }
}
