.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: $black;
  margin: 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }

  &--narrow-margins {
    margin: 14px 0;
  }

  &--inline {
    display: inline-block;
  }
}
