.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: $black;
  margin: 17px 0;
  width: 100%;

  @include gutters(6.25%);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;

    @include gutters(3.9%);
  }

  @media (min-width: $desktop-width) {
    @include gutters(3%);
  }

  &--narrow-margins {
    margin: 14px 0;
  }
}
