.up-sell-goods {
  display: flex;
  flex-direction: column;
  border-top: 3px solid $green;

  @include gutters(20px);

  @media (min-width: $tablet-width) {
    @include gutters(30px);
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 87px;

    @include gutters(calc(5% + 40px));
  }

  h2 {
    display: inline-block;
    align-self: flex-start;
    position: relative;
    margin-top: -19px;
    margin-bottom: 35px;
    left: -21px;
    padding-left: 20px;
    padding-right: 23px;
    background: $white;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;

    @media (min-width: $tablet-width) {
      left: -2px;
      margin-top: -26px;
      margin-bottom: 80px;
      font-size: 36px;
      line-height: 1;
      padding-left: 40px;
      padding-right: 35px;
    }

    @media (min-width: $tablet-width) {
      left: -40px;
    }
  }

  button,
  a[role="button"] {
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 22px;
    }

    @media (min-width: $desktop-width) {
      width: calc((100% * 1.363 - 240px) / 4);
      margin-left: 40px;
      margin-top: 0;
      flex-shrink: 0;
    }
  }
}

.up-sell-goods__catalog {
  @include clear-ul;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: calc(100% - 80px - (100% - 240px) / 4);
    margin-right: 79px;
  }
}

.up-sell-goods__position {
  padding: 14px 0 18px;
  border-top: 1px solid $gray--border;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 27px 38px;
    border-left: 1px solid $gray--border;
    border-right: 1px solid $gray--border;

    &:last-child {
      border-bottom: 1px solid $gray--border;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 16px 0 15px 0;
  }
}

.up-sell-goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: calc((100% * 1.363 - 240px) / 4);
    margin-right: 80px;
    flex-shrink: 0;
  }
}

.up-sell-goods__parameters {
  width: 100%;
  border-spacing: 0;
  margin-top: 7px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $tundora;

  @media (min-width: $tablet-width) {
    width: 32%;
    margin: 0 0 0 auto;
    font-size: 16px;
    line-height: 1.25;
  }
}

.up-sell-goods__parameter {
  &:nth-child(2) {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      width: 63%;
      text-align: right;
    }

    &:nth-child(2) {
      width: 37%;
      text-align: right;
    }
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      text-align: left;
    }
  }
}
