@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-weight: 400;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Arial", sans-serif; //В этом проекте вроде основной наборный шрифт и есть Ариал.
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: left;
  color: $tundora;
  //opacity: 0.5;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-width;
  }
}

.page_header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.courses {
  margin-top: 198px;

  @media (min-width: $tablet-width) {
    margin-top: 530px; //временно
  }
}

.courses-list {
  @include make-row;

  @include clear-ul;
}

.page_footer {
  background-color: $concrete;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
