@font-face {
  font-family: Oswald;
  src: url(../fonts/oswaldmedium.woff2),
    url(../fonts/oswaldmedium.woff);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/oswaldregular.woff2),
    url(../fonts/oswaldregular.woff);
  font-weight: 400;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-serif; //В этом проекте вроде основной наборный шрифт и есть Ариал.
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: left;
  color: $tundora;
}

