@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin clear-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin clear-li {
  list-style-type: none;
  padding: 0;
}

@mixin clear-gaps {
  padding: 0;
  margin: 0;
}

//grid-mixins

@mixin make-column($gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin make-column-width($collon-width: $mobile-collon-width, $columns: 1) {
  width: $collon-width * $columns;
}

@mixin column-bottom-margins {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}
