body {
  //background: $white url("../preview/cat-energy-index-mobile2.jpg") no-repeat 50% 0;
  min-height: 3000px;
}

@media (min-width: $tablet-width) {
  body {
    background: $white url("../preview/cat-energy-index-tablet.jpg") no-repeat 50% 0;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: $white url("../preview/cat-energy-index-desktop.jpg") no-repeat 50% 0;
  }
}
