@import "normalize.scss";
@import "colors.scss";
@import "common.scss";
@import "mixins.scss";
@import "blocks/academy-logo.scss";
@import "blocks/button.scss";
@import "blocks/course.scss";
@import "blocks/features-list.scss";
@import "blocks/main-menu.scss";
@import "blocks/promo.scss";
@import "blocks/product.scss";
@import "blocks/show-more.scss";
@import "blocks/social-links.scss";
@import "blocks/title.scss";
@import "blocks/visually-hidden.scss";
