// Layout variables
$tablet-width: 768px;
$desktop-width: 1300px;
$gutter: 40px;
$columns: 4;
$max-mobile-width: 767px;
$mobile-column-width: 100%;
$tablet-column-width: 25%;
$desktop-column-width: 25%;
